.divCard {
  width: 300px;
  height: 390px;
  position: relative;
  background: linear-gradient(
    to right,
    rgb(134, 207, 236, 0.75),
    rgb(255, 255, 0, 0.75),
    rgb(255, 193, 0, 0.75),
    rgb(255, 0, 0, 0.75)
  );
  border-radius: 10px;
  overflow: hidden;
  transition: all ease 0.3s;
}

.divCard:hover {
  transform: translate(5px, 15px);
}
.btn {
  font-size: 25px;
  position: absolute;
  top: -4px;
  left: -1px;
  cursor: pointer;
}
.buttonCard {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 183, 0);
  border: thin solid black;
  border-radius: 40%;
  cursor: pointer;
  transition: all ease 0.3s;
}

.buttonCard:active {
  transform: translate(1px, 1px) scale(0.95);
}

.name {
  position: absolute;
  width: 50%;
  text-align: center;
  bottom: 100px;
  left: 20px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(255, 183, 0);
}
.div {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
