.divSearch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}
.div {
  width: 400px;
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  border-radius: 5px;
  background-color: rgb(114, 196, 228);
}
.inputSearch {
  width: 10rem;
  height: 2rem;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}
.inputSearch::placeholder {
  padding-left: 5px;
}
.buttonSearch {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  background-color: rgb(255, 183, 0);
  cursor: pointer;
}
